html {
  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 767px) {
    font-size: calc(100vw / 750 * 10);
  }

  // @media (min-width: 2340px) {
  //   font-size: calc(100vw / 2780 * 10);
  // }

  @media (min-width: 3420px) {
    font-size: calc(100vw / 2780 * 10);
  }
}

body {
  @include spaceToRem(padding, 60, 50);

  @media screen and (max-width: 767px) {
    @include spaceToRem(padding, 40, 32);
  }

  font-family: 'Aveonik', sans-serif;
  background-color: #000000;
  color: #ffffff;
  position: relative;
  min-height: 100vh;
}
