html {
  font-size: calc(100vw / 1920 * 10);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 767px) {
    font-size: calc(100vw / 750 * 10);
  }
}

// resets
body {
  @include toRem(padding-top, 60);
  @include toRem(padding-bottom, 60);
  @include toRem(padding-left, 50);
  @include toRem(padding-right, 50);

  @media screen and (max-width: 767px) {
    @include toRem(padding-top, 40);
    @include toRem(padding-bottom, 40);
    @include toRem(padding-left, 32);
    @include toRem(padding-right, 32);
  }

  font-family: 'Aveonik', sans-serif;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}
