.home {
  @include toRem(font-size, 48);
  @include toRem(padding-left, 50);
  @include toRem(padding-right, 50);

  @media screen and (max-width: 767px) {
    @include toRem(padding-left, 32);
    @include toRem(padding-right, 32);
  }

  .hero {
  }
}

.left,
.right {
  @include toRem(width, 50);

  @media screen and (max-width: 767px) {
    @include toRem(font-size, 32);
  }

  position: fixed;
  height: 100%;
  top: 0px;
}

.top {
  @include toRem(height, 60);

  @media screen and (max-width: 767px) {
    @include toRem(font-size, 32);
  }

  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  border-bottom: 1px solid #d9d9d9;
}

.left {
  left: 0px;
  border-right: 1px solid #d9d9d9;
}

.right {
  z-index: 100;
  right: 0px;
  border-left: 1px solid #d9d9d9;
}
