%content-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%ovh {
  // overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);

  img,
  video {
    // overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}

.left,
.right {
  @include toRem(width, 50);

  @media screen and (max-width: 767px) {
    @include toRem(width, 32);
  }

  position: fixed;
  height: 100%;
  top: 0px;
  z-index: 100;
}

.top {
  @include toRem(height, 60);

  @media screen and (max-width: 767px) {
    @include toRem(height, 40);
  }

  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 99;
  background-color: black;
  border-bottom: 1px solid #d9d9d9;
}

.left {
  left: 0px;
  border-right: 1px solid #d9d9d9;
}

.right {
  right: 0px;
  border-left: 1px solid #d9d9d9;
}
